/* Hide scrollbar for chrome, opera, ff */
body::-webkit-scrollbar,
#root::-webkit-scrollbar,
html::-webkit-scrollbar,
.page::-webkit-scrollbar {
    display: none;
}

.col

/* Hide scrollbar for IE and Edge */
body,
html,
#root,
.page {
    -ms-overflow-style: none;
}

#root {
    background: white;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn-success:not(:disabled):not(.disabled).active {
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

.page {
    background: white;
    margin: auto;
    height: calc(100vh - 75px);
    width: 100%;
    max-width: 2000px;

    .fathead {
        padding: 15% 50px 50px;
        text-align: center;
    }

    .huskyhead {
        padding: 10% 50px 50px;
        text-align: center;
    }

    .slimshady {
        padding: 20px;
        text-align: center;
    }

    .hat {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 30vh;
        width: 90%;
        text-align: center;
        margin: 50px auto auto;
    } 
}
.page.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.welcome {

    .section {
        height: 700px;
        width: 90%;
        margin: 50px auto;
        padding: 50px;
        border-radius: 20px;
    }

    .section:nth-child(n) {
        background: rgb(62, 83, 202);
    }

    .section:nth-child(2n) {
        background: rgb(243, 243, 243);
    }

    .footer {
        background: rgb(56, 56, 56);
        height: 400px;
        margin-top: 100px;
        padding: 30px;
        color: lightgray
    }

    .footer .row {
        padding: 0 30px;
    }

    .footer .col:not(:first-child) {
        border-right: 1px solid black;
        text-align: right;
    }
}

.signup {
    .btn {
        display: block;
        margin: 30px auto auto;
    }
}

.dashboard {
    display: flex;
    .row, .col {
        height: 90% !important;
        min-height: 90% !important;
    }

    h1 {
        margin: 50px auto;
        padding: unset;
        text-align: center;
    }
    .user {
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-bottom: 1px solid lightgrey;
        margin-bottom: 30px;
        p {
            text-align: center;
        }
        img {
            height: 2em;
            margin-right: 15px;
        }
        h1 {
            margin: auto;
            padding: 15px;
        }
        img.large-icon {
            height: 10em;
            margin: auto;
        }
    }
}

.group-viewer {
    .nav-link:active {
        color: white;
    }
    .nav-link {
        color: black
    }

    .leave-group.nav-link.active{
        background: red;
        color: white;
    }
    .nav-link.leave-group {
        font-weight: 700;
        color: red;
    }
    .header.back-button {
        width: 95%;
        margin: auto;
        padding: 2.5rem;
        display: flex; 
        align-items: center;
        flex-direction: row;

        img {
            width: 20%;
            height: 2em;
        }
        img:hover{
            cursor: pointer;
        }
        h1 {
            width: 80%;
            text-align: center;
        }
    }
    
    .row h1 {
        margin-bottom: 25px;
    }
}

.leave-confirm {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logout {
    .goodbye {
        height: 100vh;
        text-align: center;
        margin: 400px auto auto;
    }
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.control-bar {
    display: flex;
    width: 95%;
    padding-bottom: 10px;
    margin: auto;
    justify-content: space-evenly;
    border-bottom: 1px solid grey;
}

.tab-content {
    padding-top: 30px;
    padding-bottom: 30px;
}

th, td {
    text-align: center !important;
}

.icon {
    height: 2rem;
    margin-right: 10px;
}